$main-purple: #635FC7;
$desaturated-main-purple: #A8A4FF;
$black: #000112;
$very-dark-grey: #20212C;
$dark-grey: #2B2C37;
$lines-dark: #3E3F4E;
$medium-grey: #828FA3;
$lines-light: #E4EBFA;
$light-grey: #F4F7FD;
$white: #fff;
$red: #EA5555;
$desaturated-red: #FF9898;