@import '../Navigation/NavPanel';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    position: relative;
    .overlay {
        position: absolute;
        top: 4rem;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $black;
        height: 100vh;
        opacity: 0.6;
        z-index: 1;
    }
    &__board_nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        margin-left: 1rem;
        cursor: pointer;
        img {
            margin-left: 1rem;
        }
    }

    &__task_nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__task_nav__add {
        background-color: $main-purple;
        height: 2rem;
        width: 3rem;
        border-radius: 1rem;
        border: none;
    }
    &__task_nav__menu {
        background-color: transparent;
        border: none;
        opacity: 0.5;
        svg {
            background: transparent !important;
        }
    }
    &__nav_panel {
        height: 0;
        transition: all 300ms ease-in-out;
        overflow: hidden;
    }
    &__nav_panel-active {
        height: 20rem;
    }
}

@media screen and (max-width: 540px) {
    .header__desktop_logo {
        display: none;
    }
}
@media screen and (min-width: 540px) {
    .header__mobile_logo {
        display: none;
    }
}