@import '../../components/EmptyMessage/EmptyMessage';

.board {
    min-height: calc(100vh - 4rem);
    padding: 2rem 0 0 1rem;

    &__platform_launch {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: auto;

        &__children {
            margin-right: 1rem;
        }
    }
}